<table mat-table [dataSource]="accounts" class="mat-elevation-z8">
  <ng-container matColumnDef="accountName">
    <th mat-header-cell *matHeaderCellDef class="center_field">Account name</th>
    <td mat-cell *matCellDef="let element" class="center_field">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef class="center_field">Category</th>
    <td mat-cell *matCellDef="let element" class="center_field">
      {{ element.category }}
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef class="center_field">Tags</th>
    <td mat-cell *matCellDef="let element" class="center_field">
      {{ element.tags }}
    </td>
  </ng-container>

  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef class="balance_field">Balance</th>
    <td mat-cell *matCellDef="let element">
      <div class="balance_field" [balanceHighlight]="element.balance">
        BTC {{ element.balance | number : "1.2-7" }}<br />
        $ {{ element.balance * exchangeRate | number : "1.2-2" }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="availableBalance">
    <th mat-header-cell *matHeaderCellDef class="balance_field">
      Available balance
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="balance_field" [balanceHighlight]="element.availableBalance">
        BTC {{ element.availableBalance | number : "1.2-7" }}<br />
        $ {{ element.availableBalance * exchangeRate | number : "1.2-2" }}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="clickeable"
    [routerLink]="['/accounts/', row.id]"
  ></tr>
</table>
